<% form_for(team) do |team_form| %>
  <%= team_form.error_messages %>

  <p>
    <%= team_form.label :name %><br />
    <%= team_form.text_field :name %>
  </p>

  <hr/>
<table>
  <thead>
  <tr>
    <th>User Name</th>
    <th>Password</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <% unless team.new_record? -%>
      <th>Delete?</th>
    <% end -%>
  </tr>
  </thead>
  <tbody>


  <h4>Add Users</h4>

  <% team_form.fields_for(:users) do |user_form| -%>
      <%= render :partial => "user_form", :locals => {:user_form => user_form} if user_form %>
  <%end%>
  </tbody>
</table>

<p>
  <%= team_form.submit(team.new_record? ? "Create" : "Update") %>
</p>
<% end %>