<table>
<tr>
  <td><%= user_form.label :username %></td>
  <td><%= user_form.text_field :username %></td>
</tr>

<tr>
  <td><%= user_form.label :password %></td>
  <td><%= user_form.text_field  :password %></td>
</tr>

<tr>
  <td><%= user_form.label :first_name %></td>
  <td><%= user_form.text_field  :first_name %></td>
</tr>

<tr>
  <td><%= user_form.label :last_name %></td>
  <td><%= user_form.text_field  :last_name %></td>
</tr>

<tr>
  <td><%= user_form.label :email %></td>
  <td><%= user_form.text_field  :email %></td>
</tr>

<tr>
  <td><%= delete_child_option(user_form) %></td>
</tr>
</table>