<tr>
  <td><%= user_form.text_field :username %></td>
  <td><%= user_form.text_field  :password %></td>
  <td><%= user_form.text_field  :first_name %></td>
  <td><%= user_form.text_field  :last_name %></td>
  <td><%= user_form.text_field  :email %></td>
  <td><%= delete_child_option(user_form) %></td>
</tr>