<h1>New team</h1>

<%  form_for(@team) do |team_form| %>
  <%= team_form.error_messages %>

  <p>
    <%= team_form.label :name %><br />
    <%= team_form.text_field :name %>
  </p>

  <table>
    <tbody>
    
     </tbody
  </table>

  <p>
    <%= team_form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', teams_path %>