<h1>Listing pipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Material</th>
  </tr>

<% @pipes.each do |pipe| %>
  <tr>
    <td><%=h pipe.name %></td>
    <td><%=h pipe.material %></td>
    <td><%= link_to 'Show', pipe %></td>
    <td><%= link_to 'Edit', edit_pipe_path(pipe) %></td>
    <td><%= link_to 'Destroy', pipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pipe', new_pipe_path %>